.yellow {
  background: $yellow;
  box-shadow: 0 0 40px 1px $yellow;
}    

.red {
  background: $red;
  box-shadow: 0 0 40px 1px $red;
}

.orange {
  background: $orange;
  box-shadow: 0 0 50px 1px $orange;
}

.pink {
  background: $pink;
  box-shadow: 0 0 40px 1px $pink;
}

.purple {
  background: $purple;
  box-shadow: 0 0 45px 1px $purple;
}

.blue {
  background:$blue;
  box-shadow: 0 0 40px 1px$blue;
}

.green {
  background: $green;
  box-shadow: 0 0 40px 1px $green;
}

.white {
  background: $white;
  box-shadow: 0 0 40px 1px $white;
}

