body {
  background: black;
}

//fonts
$headerFont: "Sacramento", cursive;
$bodyFont: "Indie Flower", cursive;

//colors
$yellow: yellow;
$red: red;
$orange: #ff8300;
$pink: deeppink;
$purple: mediumorchid;
$blue: deepskyblue;
$green: lawngreen;
$white: white;
$grey: #333;

html {
  font-size: 125%;
  color: white;
  font-family: $bodyFont;
  line-height: 1.6;
}

h1,
a,
p,
button,
form,
fieldset
 {
  padding: 0;
  margin: 0;
}

label:hover {
  cursor: pointer;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

//twitter icon
.fab {
  color: $white;
  font-size: 1.2rem;
}

