//hero pattern from heropatterns.com, made by Steve Schoger//
body {
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

//fonts
$header-font: "Sacramento", cursive;
$body-font: "Indie Flower", cursive;

//colors
$yellow: yellow;
$red: red;
$orange: #ff8300;
$pink: deeppink;
$purple: mediumorchid;
$blue: deepskyblue;
$green: lawngreen;
$white: white;
$grey: #333;

html {
  font-size: 125%;
  color: $white;
  font-family: $body-font;
  line-height: 1.6;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: $white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1,
a,
p,
button,
form,
fieldset,
ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


