h1 {
  text-shadow: 0 0 5px blue, 0 0 5px hotpink;
  color: hotpink;
  font-family: $header-font;
  font-size: 4rem;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px 0;
  padding: 20px 0;
}

