// grid-options styles for fieldset and grid options extras

//color form styles stored in partials/color-form

.grid-options {
  border-right: 1px solid $hotPink;
  border-bottom: 1px solid $hotPink;
  padding: 0 20px 10px 0;
  color: $antiqueWhite;
    legend {
      color: $hotPink;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 0 auto;
    }
}

.fieldset-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-options-extras {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background: transparent;
  color: $antiqueWhite;
  border: 1px solid transparent;
  padding: 5px 10px;
  margin: 10px 2px;
  transition: 0.2s all ease-in;
    &:hover {
      color: $hotPink;
      text-shadow: 0 0 1px $hotPink;
      border: 1px solid $hotPink;
    }
}

button:focus,
button:active {
  border: 1px solid $hotPink;
}

//social media styles
ul {
  list-style-type: none;
    li {
      display: inline-block;
    }
}

.social-link {
  color: $antiqueWhite;
  text-decoration: none;
  transition: 0.2s all ease-in;
    .fab {
      color: $antiqueWhite;
      font-size: 1.2rem;
      transition: .3s all ease-in;
      margin: 5px 10px;
      padding: 5px;
    }

}

.social-link .fab:hover {
  color: $hotPink;
  text-shadow: 0 0 1px $hotPink;
}