main {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
    .aside {
      width: calc(25% - 100px);
      margin: 0 50px;
    }
    .main-grid {
      width: calc(75% - 100px);
      margin: 0 50px;
    }
}

.light-container {
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
  display: block;
  background: #333;;
}

h1 {
  text-shadow: 0 0 25px white;
}

.mobile {
  width: 30px;
  height: 30px;
}

.desktop {
  width: 25px;
  height: 25px;
}
    
.mobile {
  display: none;
}

//colors

.yellow {
  background: yellow;
  box-shadow: 0 0 40px 1px yellow;
}    

.red {
  background: red;
  box-shadow: 0 0 40px 1px red;
}

.orange {
  background: darkorange;
  box-shadow: 0 0 45px 1px darkorange;
}

.pink {
  background: deeppink;
  box-shadow: 0 0 40px 1px deeppink;
}

.purple {
  background: mediumorchid;
  box-shadow: 0 0 45px 1px mediumorchid;
}

.blue {
  background: deepskyblue;
  box-shadow: 0 0 40px 1px deepskyblue;
}

.green {
  background: lawngreen;
  box-shadow: 0 0 40px 1px lawngreen;
}

.white {
  background: white;
  box-shadow: 0 0 40px 1px white;
}





