.light-container {
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
  display: block;
  z-index: 10;
}

h1 {
  text-shadow: 0 0 25px white;
}

.mobile {
  width: 30px;
  height: 30px;
}

.desktop {
  width: 25px;
  height: 25px;
}

a {
  display: block;
  background: #333;;
  perspective: 1000px;
}
    
.mobile {
  display: none;
}
    
.red {
  background: red;
  box-shadow: 0 0 40px 1px red;
}

.pink {
  background: deeppink;
  box-shadow: 0 0 40px 1px deeppink;
}

.blue {
  background: deepskyblue;
  box-shadow: 0 0 40px 1px deepskyblue;
}

.green {
  background: lawngreen;
  box-shadow: 0 0 40px 1px lawngreen;
}

.white {
  background: white;
  box-shadow: 0 0 40px 1px white;
}

.purple {
  background: mediumorchid;
  box-shadow: 0 0 45px 1px mediumorchid;
}

.yellow {
  background: yellow;
  box-shadow: 0 0 40px 1px yellow;
}

.orange {
  background: darkorange;
  box-shadow: 0 0 45px 1px darkorange;
}