article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); }

html {
  font-size: 125%;
  color: white;
  font-family: "Indie Flower", cursive;
  line-height: 1.6; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }

h1,
a,
p,
button,
form,
fieldset,
ul {
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

h1 {
  text-shadow: 0 0 5px blue, 0 0 5px hotpink;
  color: hotpink;
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px 0;
  padding: 20px 0; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  main .grid-options {
    width: calc(25% - 50px);
    margin-right: 50px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  main .main-grid {
    width: 75%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.light-container {
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
  display: block;
  background: #333; }

.desktop {
  width: 25px;
  height: 25px; }

.mobile {
  width: 30px;
  height: 30px;
  display: none; }

.flex-container-mobile {
  display: none; }

.grid-options {
  border-right: 1px solid hotpink;
  border-bottom: 1px solid hotpink;
  padding: 0 20px 10px 0;
  color: antiqueWhite; }
  .grid-options legend {
    color: hotpink;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 auto; }

.fieldset-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.grid-options-extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

button {
  background: transparent;
  color: antiqueWhite;
  border: 1px solid transparent;
  padding: 5px 10px;
  margin: 10px 2px;
  -webkit-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in; }
  button:hover {
    color: hotpink;
    text-shadow: 0 0 1px hotpink;
    border: 1px solid hotpink; }

button:focus,
button:active {
  border: 1px solid hotpink; }

ul {
  list-style-type: none; }
  ul li {
    display: inline-block; }

.social-link {
  color: antiqueWhite;
  text-decoration: none;
  -webkit-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in; }
  .social-link .fab {
    color: antiqueWhite;
    font-size: 1.2rem;
    -webkit-transition: .3s all ease-in;
    -o-transition: .3s all ease-in;
    transition: .3s all ease-in;
    margin: 5px 10px;
    padding: 5px; }

.social-link .fab:hover {
  color: hotpink;
  text-shadow: 0 0 1px hotpink; }

fieldset {
  border: none; }

label:hover {
  cursor: pointer; }

input[type="radio"] {
  opacity: 0;
  position: absolute; }

label {
  font-size: 1.4rem;
  letter-spacing: 4px;
  padding: 5px 0;
  margin: 5px;
  -webkit-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in; }

input:hover + label[for="yellow"],
input:active + label[for="yellow"],
input:focus + label[for="yellow"],
input[type="radio"]:checked + label[for="yellow"] {
  color: yellow;
  text-shadow: 0 0 6px yellow; }

input:hover + label[for="red"],
input:active + label[for="red"],
input:focus + label[for="red"],
input[type="radio"]:checked + label[for="red"] {
  color: red;
  text-shadow: 0 0 6px red; }

input:hover + label[for="orange"],
input:active + label[for="orange"],
input:focus + label[for="orange"],
input[type="radio"]:checked + label[for="orange"] {
  color: #ff8300;
  text-shadow: 0 0 6px #ff8300; }

input:hover + label[for="pink"],
input:active + label[for="pink"],
input:focus + label[for="pink"],
input[type="radio"]:checked + label[for="pink"] {
  color: deeppink;
  text-shadow: 0 0 6px deeppink; }

input:hover + label[for="purple"],
input:active + label[for="purple"],
input:focus + label[for="purple"],
input[type="radio"]:checked + label[for="purple"] {
  color: mediumorchid;
  text-shadow: 0 0 6px mediumorchid; }

input:hover + label[for="blue"],
input:active + label[for="blue"],
input:focus + label[for="blue"],
input[type="radio"]:checked + label[for="blue"] {
  color: deepskyblue;
  text-shadow: 0 0 6px deepskyblue; }

input:hover + label[for="green"],
input:active + label[for="green"],
input:focus + label[for="green"],
input[type="radio"]:checked + label[for="green"] {
  color: lawngreen;
  text-shadow: 0 0 6px lawngreen; }

input:hover + label[for="white"],
input:active + label[for="white"],
input:focus + label[for="white"],
input[type="radio"]:checked + label[for="white"] {
  color: white;
  text-shadow: 0 0 6px white; }

.yellow {
  background: yellow;
  -webkit-box-shadow: 0 0 40px 1px yellow;
  box-shadow: 0 0 40px 1px yellow; }

.red {
  background: red;
  -webkit-box-shadow: 0 0 40px 1px red;
  box-shadow: 0 0 40px 1px red; }

.orange {
  background: #ff8300;
  -webkit-box-shadow: 0 0 50px 1px #ff8300;
  box-shadow: 0 0 50px 1px #ff8300; }

.pink {
  background: deeppink;
  -webkit-box-shadow: 0 0 40px 1px deeppink;
  box-shadow: 0 0 40px 1px deeppink; }

.purple {
  background: mediumorchid;
  -webkit-box-shadow: 0 0 45px 1px mediumorchid;
  box-shadow: 0 0 45px 1px mediumorchid; }

.blue {
  background: deepskyblue;
  -webkit-box-shadow: 0 0 40px 1px deepskyblue;
  box-shadow: 0 0 40px 1px deepskyblue; }

.green {
  background: lawngreen;
  -webkit-box-shadow: 0 0 40px 1px lawngreen;
  box-shadow: 0 0 40px 1px lawngreen; }

.white {
  background: white;
  -webkit-box-shadow: 0 0 40px 1px white;
  box-shadow: 0 0 40px 1px white; }

footer p {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #333; }

@media (max-width: 1150px) {
  h1 {
    font-size: 3.2rem;
    margin: 0;
    padding: 0; }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main .grid-options {
      width: 100%;
      margin: 0;
      padding: 0;
      border: none; }
  .fieldset-flex-container,
  .grid-options-extras {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  label,
  button {
    padding: 1px 5px; }
  label {
    font-size: 1.2rem; }
  button,
  ul,
  .fab {
    margin: 5px 20px; }
  footer {
    text-align: center; } }

@media (max-width: 810px) {
  .remove {
    display: none; }
  label {
    font-size: 1rem; } }

@media (max-width: 700px) {
  h1 {
    font-size: 2.6rem; }
  label {
    margin: 0; }
  .desktop,
  .flex-container {
    display: none; }
  .fieldset-flex-container {
    width: 64%;
    margin: 0 auto; }
  .flex-container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  .mobile {
    display: block; } }

@media (max-width: 520px) {
  .remove-mobile {
    display: none; }
  .fieldset-flex-container {
    width: 78%; } }

@media (max-width: 450px) {
  h1 {
    font-size: 2rem; }
  footer {
    display: none; }
  button,
  ul,
  .fab {
    margin: 0 5px; }
  .mobile {
    width: 40px;
    height: 40px; } }

@media (max-width: 400px) {
  h1 {
    font-size: 1.4rem;
    letter-spacing: 5px; }
  .light-container {
    padding: 3px;
    margin: 3px; }
  .remove-mobile-xs {
    display: none; }
  .fieldset-flex-container {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */